.product_conntainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.product_conntainer div {
    background-color: aliceblue;
}

.product_conntainer img {
    height: 200px;

}